@use "./base/reset" as *;
@use "./abstract/variables" as *;
@use "./abstract/mixin" as *;
@use "./components/button" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

//Image Style
.border-image {
  img {
    border-radius: $base-border-radius * 30 0;
    width: 100%;
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: $base-border-thikness * 2 solid $primary-color;
    border-radius: $base-border-radius * 30 0;
    top: 20px;
    right: -20px;
    z-index: -1;
  }
}

// Start Header
header {
  .l-side {
    .toggle {
      background-color: transparent;
      border: 0;
      i {
        font-size: $base-font-size * 2.5;
        color: $primary-color;
        padding: $base-padding;
      }
    }
  }
  .r-side {
    gap: $base-gap * 4;
    .links {
      & .active {
        color: $link-color;
      }
      a {
        font-size: 16px;
        font-weight: 400;
        &:hover {
          color: $link-color;
        }
      }
    }
  }
}
// End Header

// Start Landing
.landing {
  .content {
    h3 {
      font-size: $base-font-size * 2;
      color: $secondary-color;
    }
    .main-p {
      font-size: $base-font-size * 6;
      font-weight: bold;
      max-width: 500px;
      line-height: 1;
    }
    .sup-p {
      font-size: $base-font-size * 1.8;
      color: $link-color;
    }
    .btn {
      background-color: $secondary-color;
      &:hover {
        background-color: $primary-color;
        box-shadow: 0 0 5px $primary-color;
      }
    }
  }
}
// End Landing

// Start Service
.service {
  .main-title {
    .text {
      h3 {
        font-size: $base-font-size * 2;
        color: $link-color;
      }
      p {
        font-size: $base-font-size * 4;
        font-weight: bold;
      }
    }
    .arrows {
      .left,
      .right {
        background-color: $secondary-color;
        width: 25px;
        height: 25px;
        color: $white-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .left {
        background-color: $white-color;
        color: black;
        box-shadow: 0 0 5px $link-color;
      }
    }
  }
  .owl-carousel {
    .owl-item {
      padding: $base-padding;
    }
    .diff {
      .box {
        background-color: $primary-color;
        h3,
        p {
          color: $white-color !important;
        }
      }
    }
    .item {
      .box {
        box-shadow: 0 0 5px #7f7f7f61;
        padding: $base-padding * 3;
        border-radius: $base-border-radius * 10 0;
        .image {
          img {
            width: 40px;
            height: 40px;
          }
        }
        .text {
          h3 {
            font-size: $base-font-size * 2;
            font-weight: bold;
            margin-bottom: $base-margin;
          }
          p {
            font-size: $base-font-size * 1.5;
            color: $link-color;
          }
        }
      }
    }
  }
}
// End Service

// Start About
.about {
  .one {
    &::before {
      top: -20px;
      left: -20px;
    }
  }
  .content {
    span {
      font-size: $base-font-size * 2;
      color: $link-color;
    }
    h3 {
      font-size: $base-font-size * 4;
      max-width: 80%;
    }
    p {
      font-size: $base-font-size * 1.5;
      color: $link-color;
    }
    .btn {
      background-color: $secondary-color;
      &:hover {
        background-color: $primary-color;
        box-shadow: 0 0 5px $primary-color;
      }
    }
  }
  .sec {
    margin-bottom: $base-margin * 20;
    margin-top: $base-margin * 15;
    flex-direction: row-reverse;
    .two {
      &::before {
        top: 20px;
        right: -20px !important;
      }
    }
    .content {
      p {
        font-size: $base-font-size * 5;
        color: black;
      }
    }
  }
}
// End About
// Start Work
.work {
  background-color: #f8f8f8;
  padding: $base-padding * 10 0;
  height: 500px;
  .text {
    h2 {
      font-size: $base-font-size * 3;
      font-weight: bold;
      margin-bottom: $base-margin;
    }

    p {
      font-size: $base-font-size * 3;
      font-weight: bold;
      margin-bottom: $base-margin * 5;
    }
  }
  .stats-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box-p {
      flex: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #e0e0e0;
        z-index: 0;
      }
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        top: 51px;
        right: 0;
        background-color: #e0e0e0;
        z-index: 0;
      }
      &:nth-child(2)::before {
        bottom: 51px;
        top: auto;
      }
      &:nth-child(4)::before {
        display: none;
      }
      &:nth-child(2)::after,
      &:nth-child(3)::after {
        content: "";
        width: 100%;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:nth-child(1)::after {
        content: "";
        width: 50%;
        top: 50%;
        right: 0;
      }
      &:nth-child(4)::after {
        content: "";
        width: 50%;
        top: 50%;
        left: 0;
      }
      &:nth-child(2),
      &:nth-child(4) {
        position: relative;
        top: 100px;
      }
      .box {
        background-color: $white-color;
        border-radius: $base-border-radius * 5;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
        border-radius: $base-border-radius * 6 0;
        padding: $base-padding * 2;
        z-index: 1;
        width: 140px;
        height: 100px;
        position: relative;
        z-index: 1;
        h3 {
          font-size: $base-font-size * 3;
        }
        span {
          color: #777;
          font-size: $base-font-size * 1.5;
        }
      }
    }
    // .box-1 {
    //   position: absolute;
    //   top: 0px;
    //   left: 15%;
    //   &::after{
    //     content: "";
    //     position: absolute;
    //     width: 60px;
    //     height: 60px;
    //     border: 1px solid transparent;
    //     border-right-color: #E0E0E0;
    //     border-top-color: #E0E0E0;
    //     top: 50%;
    //     right: -60px;
    //   }
    // }
    // .box-2 {
    //   position: absolute;
    //   top: 60px;
    //   left: 35%;
    //   &::before{
    //     content: "";
    //     position: absolute;
    //     width: 60px;
    //     height: 60px;
    //     border: 1px solid transparent;
    //     border-top-color: #E0E0E0;
    //     top: 50%;
    //     left: -60px;
    //   }
    //   &::after{
    //     content: "";
    //     position: absolute;
    //     width: 60px;
    //     height: 60px;
    //     border: 1px solid transparent;
    //     border-top-color: #E0E0E0;
    //     top: 50%;
    //     right: -60px;
    //   }
    // }
    // .box-3 {
    //   position: absolute;
    //   top: 0px;
    //   left: 55%;
    //   &::after{
    //     content: "";
    //     position: absolute;
    //     width: 60px;
    //     height: 60px;
    //     border: 1px solid transparent;
    //     border-right-color: #E0E0E0;
    //     border-top-color: #E0E0E0;
    //     top: 50%;
    //     right: -60px;
    //   }
    //   &::before{
    //     content: "";
    //     position: absolute;
    //     width: 60px;
    //     height: 60px;
    //     border: 1px solid transparent;
    //     border-top-color: #E0E0E0;
    //     border-left-color: #E0E0E0;
    //     top: 50%;
    //     left: -60px;
    //   }
    // }
    // .box-4 {
    //   position: absolute;
    //   top: 60px;
    //   left: 75%;
    //   &::before{
    //     content: "";
    //     position: absolute;
    //     width: 60px;
    //     height: 60px;
    //     border: 1px solid transparent;
    //     border-top-color: #E0E0E0;
    //     top: 50%;
    //     left: -60px;
    //   }
    // }
  }
}
// End Work

// Start Testimonials
.testimonials {
  .title {
    h3 {
      font-size: $base-font-size * 2;
      color: $link-color;
    }
    p {
      font-size: $base-font-size * 4;
    }
  }
  .owl-carousel-review {
    gap: 50px;
    .box {
      background: $white-color;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: $base-border-radius * 10 0;
      padding: $base-padding * 2.5 $base-padding * 3;
      max-width: 500px;
      position: relative;
      &::after {
        content: "”";
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 60px;
        color: #a17955;
        opacity: 0.3;
        font-weight: bold;
      }
      .profile {
        flex-shrink: 0;
        width: 80px;
        height: 80px;
        border-radius: 30px 0;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        h3 {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
        }
        span {
          font-size: 13px;
          color: gray;
        }
        p {
          font-size: 14px;
          color: #555;
          margin-top: 8px;
          line-height: 1.5;
        }
      }
    }
  }
}
// End Testimonials

// Start Blog
.blog {
  background-color: #f8f8f8;
  .title {
    h3 {
      font-size: $base-font-size * 2;
      color: $link-color;
    }
    p {
      font-size: $base-font-size * 4;
    }
  }
  .content {
    .box {
      .border-image {
        img {
          position: relative;
          z-index: 999;
        }
        z-index: 0;
      }
      .text {
        p {
          color: $link-color;
        }
        .btn {
          background-color: $secondary-color;
          color: $white-color;
          &:hover {
            background-color: $primary-color;
            box-shadow: 0 0 5px $primary-color;
          }
        }
      }
    }
  }
}
// End Blog

// Start Shop
.shop {
  padding: 8rem;
  .title {
    font-size: $base-font-size * 4;
    font-weight: bold;
    position: relative;
    letter-spacing: 4px;
    &::after {
      content: "";
      position: absolute;
      width: 35%;
      height: 1px;
      background-color: #c4c4c4;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p {
    color: $link-color;
    font-size: $base-font-size * 1.8;
    max-width: 650px;
    margin: auto;
  }
  .input-group {
    input {
      border: none;
      outline: none;
      caret-color: $secondary-color;
      background-color: #eeeeee;
      border-radius: 20px 0 0;
      padding: $base-padding * 1.5;
      width: 30%;
    }
    .btn {
      background-color: $secondary-color;
      color: $white-color;
    }
  }
}
// End Shop

// Start Footer
footer {
  background-color: #f8f8f8;
  .logo-box {
    p {
      color: $link-color;
    }
  }
  .links {
    h3 {
      font-weight: normal;
    }
    li {
      padding: $base-padding * 0.5 0;
      transition: $main-transition;
      a {
        color: $link-color;
      }
      &:hover {
        transform: translateX(10px);
        a {
          color: $primary-color;
        }
      }
    }
  }
  .follow {
    .socials {
      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d5d5d5;
        color: $white-color;
        border-radius: 10px 0;
        transition: $main-transition;
        &.face:hover {
          background-color: #4267b2;
        }
        &.insta:hover {
          background-color: #833ab4;
        }
        &.twitter:hover {
          background-color: #1da1f2;
        }
        &.linked:hover {
          background-color: #0078c7;
        }
      }
    }
  }
  .copy-right {
    border-top: $base-border-thikness solid #c4c4c4;
    p {
      color: $link-color;
      font-size: $base-font-size * 2;
      span {
        color: $secondary-color;
      }
    }
  }
}
// End Footer

//Media Query
@media (max-width: 768px) {
  header {
    .l-side {
      width: 100% !important;
      .toggle {
        display: block !important;
      }
    }
    .r-side {
      position: fixed;
      background-color: $primary-color;
      top: 0;
      left: 0;
      width: 70%;
      height: 100%;
      flex-direction: column !important;
      justify-content: space-between;
      align-items: flex-start !important;
      padding: 40px;
      transform: translateX(-100%);
      transition: $main-transition;
      z-index: 999;
      &.back {
        transform: translateX(0) !important;
      }

      .links {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: $base-gap * 2 !important;
        & .active {
          color: $secondary-color !important;
        }
        a {
          color: $white-color !important;
          transition: $main-transition;
          &:hover {
            color: $secondary-color !important;
            font-size: $base-font-size * 2;
          }
        }
      }
      .btn {
        background-color: $secondary-color !important;
      }
    }
  }

  .border-image {
    margin-top: $base-margin * 3 !important;
    width: 90%;
    margin: auto;
    img {
      border-radius: $base-border-radius * 20 0;
    }
    &::before {
      border-radius: $base-border-radius * 20 0;
    }
  }

  .landing {
    .content {
      text-align: center;
      .main-p {
        font-size: $base-font-size * 4 !important;
      }
      .sup-p {
        font-size: $base-font-size * 1.3;
      }
    }
  }

  .main-title {
    p {
      font-size: $base-font-size * 3 !important;
    }
  }

  .about {
    .content {
      margin-top: $base-margin * 4 !important;
      margin-inline-start: 0 !important;
      h3 {
        font-size: $base-font-size * 2.5;
      }
      p {
        font-size: $base-font-size * 1.2;
      }
      .btn {
        margin-top: $base-margin !important;
      }
    }
    .sec {
      margin-bottom: 0 !important;
      margin-top: $base-margin * 6 !important;
      .content {
        margin-top: $base-margin * 7 !important;
        text-align: center;
        img {
          width: 200px !important;
        }
        p {
          font-size: $base-font-size * 2 !important;
        }
      }
    }
  }

  .work {
    height: 800px !important;
    .stats-container {
      flex-direction: column;
      gap: 20px;
      .box-p {
        &:nth-child(2),
        &:nth-child(4) {
          top: 0 !important;
        }
        &::before {
          background-color: transparent !important;
        }
      }
    }
  }

  .testimonials {
    .owl-carousel-review {
      .box {
        padding: $base-padding * 2 !important;
        .profile {
          left: -5px !important;
        }
        .text {
          margin-left: 1rem !important;
        }
      }
    }
  }

  .shop {
    padding: 2rem;
    .title{
      font-size: $base-font-size*2.5 !important;
    }
    p{
      font-size: $base-font-size*1.5 !important;
    }
    .input-group {
      input {
        width: 60%;
        &::placeholder{
          font-size: $base-font-size*1.5;
        }
      }
    }
  }

  footer {
    .links {
      margin-top: $base-margin * 3;
    }
    .follow {
      margin-top: $base-margin * 3;
    }
    .copy-right {
      p {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  header {
    .r-side {
      gap: $base-gap !important;
      .links {
        gap: $base-gap * 0.5 !important;
      }
      .btn {
        padding: $base-padding * 0.5 $base-padding;
      }
    }
  }

  .landing {
    .border-image {
      margin-top: $base-margin * 4 !important;
    }
  }

  .about {
    .content {
      margin-top: $base-margin * 4 !important;
      margin-inline-start: 0 !important;
    }
  }

  .shop {
    .input-group {
      input {
        width: 60%;
      }
    }
  }
}
